<header>
    <a href="/" class="site-title">
      <h2>M's Hub Ke</h2>
    </a>
    <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
  </header>

<nav class="nav">
    <ul>
      <li><a href="/">M's Home</a></li>
    </ul>
  </nav>
