<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/pp.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
    <title>The M's Hub</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="card profile">
        <img src="/images/pp.jpg" alt="Profile Image">
        <h1>Mark Mutugi M.</h1>
        <h2>Profile</h2>
        <p>I'm a freelance worker with a background in coding and electrical engineering, blending online and campus-based learning. <br>I'm passionate about continual learning, exploring new hobbies, and seeking personal growth opportunities.</p>
        <section>
        <a href="https://www.linkedin.com/in/mark-mutugi-361362226/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3ByC4%2BKT4BS32yY3y5fwW5kA%3D%3D">LinkedIn</a>
        <a href="https://www.instagram.com/24yr8a_/">Instagram</a>
        <a href="https://github.com/cocodrift">Github</a>
        <a href="https://www.youtube.com/@mark_Ke">youtube</a>
        <a href="https://twitter.com/freespere_/">X</a>
        </section>

    </section>
    <section class="ig-scan-code">
        <img src="/images/scan2.jpg" alt="ig-scan-code" width="auto" height="200">
        <img src="/images/scan.jpg" alt="ig-scan-code" width="auto" height="200">
    </section>
    
    <%- include('partials/footer') %>
</body>
</html>
